In [39]:
import pandas as pd

In [41]:
# Load the original CSV
df = pd.read_csv('your_file_path_here.csv')

In [43]:
df.head()

,country_name,currency,employer_id,reimbursement_notice_id,payout_id,disbursed_at,user_id,ewa_amount,membership_fee,membership_fee_disc,...,late_fee_usd,write_off_usd,repayment_timeline,recycle_count,net_outstanding_exclude_membership,net_outstanding_include_membership,net_outstanding_usd_include_membership,repayment_amount,monthly_exchange_rate_xero,write_off_late_fees
0,Indonesia,IDR,4,4.17.21082020,651,2020-08-16,1051.0,335000.0,35000.0,0.0,...,0.353176,0.0,12.0,12.0,0.0,0.0,0.000000,NaN,16547.0,0.0
1,Indonesia,IDR,4,4.3295.15022023,346312,2023-01-23,1051.0,1000000.0,30000.0,0.0,...,NaN,0.0,32.0,11.0,0.0,0.0,0.000000,NaN,16547.0,0.0
2,Indonesia,IDR,4,4.5320.15092023,799737,2023-09-08,1051.0,500000.0,25000.0,0.0,...,NaN,0.0,17.0,12.0,0.0,0.0,0.000000,NaN,16547.0,0.0
3,Indonesia,IDR,4,4.8358.15052024,1440838,2024-04-23,1051.0,770000.0,25000.0,0.0,...,NaN,0.0,29.0,12.0,0.0,0.0,0.000000,NaN,16547.0,0.0
4,Indonesia,IDR,4,4.13509.15032025,2707554,2025-02-20,1051.0,960000.0,25000.0,0.0,...,NaN,0.0,NaN,NaN,960000.0,990000.0,59.829576,NaN,16547.0,0.0

In [45]:
# Calculate the midpoint
split_1 = len(df) // 3
split_2 = 2 * (len(df) // 3)

In [47]:
df_part1 = df.iloc[:split_1]
df_part2 = df.iloc[split_1:split_2]
df_part3 = df.iloc[split_2:]

In [49]:
# Save the two parts into separate CSV files
df_part1.to_csv('output_part1.csv', index=False)
df_part2.to_csv('output_part2.csv', index=False)
df_part3.to_csv('output_part3.csv', index=False)

print("CSV split into three files successfully!")

CSV split into three files successfully!

In [51]:
from IPython.display import FileLink, display
display(FileLink('output_part1.csv'))
display(FileLink('output_part2.csv'))
display(FileLink('output_part3.csv'))

/Users/wagely/Downloads/Work Related Doc/Projects/Pribadi/jupyter scripts/output_part1.csv

/Users/wagely/Downloads/Work Related Doc/Projects/Pribadi/jupyter scripts/output_part2.csv

/Users/wagely/Downloads/Work Related Doc/Projects/Pribadi/jupyter scripts/output_part3.csv